.PauseModal {
  --anim-duration: .3s;

  position: relative;
  width: 80%;
  max-width: 400px;
  opacity: 0;
  transform: scale(1.3);
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: visible;
  box-shadow: 0 4px 8px rgba(20, 20, 20, .6);
  transition: transform var(--anim-duration), opacity var(--anim-duration);

  &::backdrop {
    opacity: 0;
    background: rgba(30, 30, 30, .25);
  }

  &.PauseModalVisible {
    opacity: 1;
    transform: scale(1);
  }

  h3 {
    margin: 0 0 20px;
  }

  .CloseButton {
    position: absolute;
    top: .5em;
    right: .5em;
    width: 44px;
    height: 44px;
    border: none;
    background: none;
    border-radius: 50%;

    &:hover, &:focus {
      background: #ddd;
    }

    &:active {
      background: #ababab;
    }
  }
}