.Board__Tile {
  aspect-ratio: 1 / 1;
  color: #444;
  font-size: 2em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  flex-grow: 1;
  flex-shrink: 1;
  user-select: none;

  &--Selected {
    color: #ccc;
  }
}