.LightMode {
  
}

.Layout__Header, .Layout__Main {
  --layout-padding: 20px;

  padding-left: var(--layout-padding);
  padding-right: var(--layout-padding);

  @media (min-width: 540px) { --layout-padding: 0; }
}

.Layout__Main {
  margin: 0 auto;
  width: fit-content;
  height: 100%;
}