.AnswerGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  height: 130px;
  align-content: flex-start;
  width: 100%;

  .AnswerGrid__Answer {
    list-style: none;
    padding: 0;
    flex: 0 1 calc(50% - 4px);
    width: 0;

    @media (min-width: 480px) {
      flex: 0 1 calc(33.33% - 4px);
    }
  }
}