.AnswerGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  height: 130px;
  align-content: start;

  .AnswerGrid__Answer {
    list-style: none;
    padding: 0;
    flex: 0 0 calc(33.33% - 4px);
  }
}