.Board__TileSelector {
  box-sizing: content-box;
  position: absolute;
  mix-blend-mode: multiply;
  border: calc(var(--tile-max-size) / 2 - .5px) solid #ababab;
  background: #ababab;
  border-radius: var(--tile-max-size);
  transform-origin: top left;
  pointer-events: none;
}