.BoardWrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;

  .Board {
    --gap: 4px;
    position: relative;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    cursor: pointer;

    .Board__Tile {
      flex-shrink: 0;
      flex-grow: 0;
    }
  }
}
