.Board__Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #3a3a3a;

  h2 {
    margin: 0 0 20px;
    font-size: 1.7em;
  }

  .Counter {
    font-size: 1.2em;
    text-align: center;
    margin: 0 0 10px;
  }
}

.ProgressBar {
  height: 20px;
  width: 300px;
  overflow: hidden;
  background-color: #ececec;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 4px;
  border-radius: 20px;

  .ProgressBar__Bar {
    background-color: #B6C6F0;
    height: 100%;
    border-radius: 20px;
    will-change: width;
    transition: width .2s;
  }
}