.ProgressBar {
  height: 30px;
  width: 100%;
  overflow: hidden;
  background-color: #ececec;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 4px;
  border-radius: 20px;

  .ProgressBar__Bar {
    background-color: #B6C6F0;
    height: 100%;
    border-radius: 20px;
    will-change: width;
    transition: width .2s;
  }
}